$brand-color: #00D2DF;
$dark-10: #121212;
$dark-20: #151515;
$dark-30: #C4C4C4;
$dark-40: #FFFFFF;

@mixin flex-horizontal(){
    display: flex;
    align-items: center;
    justify-content: center;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
   
    nav{
        font-weight: 500;
        display: flex;
        justify-content: space-around;
        height: 10vh;
        align-items: center;
        ul{
            @include flex-horizontal();
            gap: 30px;
            list-style: none;
            li{
                a{
                    color: $dark-30;
                    text-decoration: none;
                }
            }
        }
    }

    nav::after{
        content: "";
        width: 70%;
        height: 1px;
        background: rgb(18,18,18);
        background: linear-gradient(90deg, rgba(18,18,18,1) 0%, rgba(65,65,65,1) 53%, rgba(29,255,243,1) 100%); 
        position: absolute;
        top:10vh;
    }

    .btn-hamburg{
        background-color: transparent;
        font-size: 2.3em;
        color: $dark-30;
        border: none;
        cursor: pointer;
        display: none;
    }
}

.h2-header, .nome-apresentacao{
    color: $brand-color;
}

main{
    background-color: $dark-10;
    font-family: 'Inter', sans-serif;
}

.sec-apresentacao{
    @include flex-horizontal();
    justify-content: space-around;
    height: 100vh;

    .div-apresentacao{
        color: $dark-40;
        p, h2{
            font-size: 1.5em;
        }
        .nome-apresentacao{
            font-size: 2.6em;
            font-weight: 600;
        }
        .btn-apresentacao{
            display: flex;
            gap: 10px;
            margin-top: 10px;

        a{
            text-decoration: none;
            color: $dark-40;
            padding: 8px;
            border: 1px solid;
            border-image: linear-gradient(to right, $dark-10, $brand-color) 1;
        }
    }
}
        figure{
            width: 30vw;
            img{
                width: 100%;
                height: 100%;
            }
        }
}

.sec-sobre{

    @mixin h1-size(){
        font-size:  1.5em;
        font-weight: 600;        
    };
    @mixin h2-size(){
        font-size: 1.25em;
        font-weight: 500;
    };
    @mixin h3-size(){
        font-size: 1.125em;
        font-weight: 300;
    };


    @include flex-horizontal();
    height: 100vh;
    justify-content: space-around;
    color: $dark-30;
    

    .div-sobre{
        width: 40vw;
        display: flex;
        flex-direction: column;
        gap: 10px;
        
        h1{
           @include h1-size();
        }
        h2{
           @include h2-size();
        }
        p{
            @include h3-size();
        }

        span{
            color: $brand-color;
        }

        .btn-sobremim{
            display: flex;
            gap: 10px;
            margin-top: 10px;

        a{
            background-color: transparent;
            text-decoration: none;
            color: $dark-40;
            padding: 8px;
            border: 1px solid;
            border-image: linear-gradient(to right, $dark-10, $brand-color) 1;
        }
    }
    }

    .img-sobre{
        width: 25vw;
    
        img{
            width: 100%;
            border-left: 10px solid $brand-color;
        }
    }

    .social-sobre{
        @include flex-horizontal();
        width: 40vw;
        list-style-type: none;
        justify-content: flex-start;
        gap: 20px;

        a{
            font-size: 1.5em;
            text-decoration: none;
            color: $brand-color;
        }
    }

    
}
.footer{
    @include flex-horizontal();
    gap: 60vw;
    font-family: Inter;
    font-weight: 400;
    height: 8vh;

    p{
        color: $dark-30;
    }

    span{
        color: $brand-color;
    }

}

@media (max-width:800px){

    .ativo{
        display: flex;
    }

    header{
        nav{
            flex-wrap: wrap;
            width: 100vw;
            backdrop-filter: blur(30px);
            margin-bottom: 20px;
            
        ul{
            display: none;
            position: absolute;
            backdrop-filter: blur(30px);
            width: 100%;
            height: 100%;
            justify-content: center;
        }
        .btn-hamburg{
            display: block;
            font-size: 2em;
        }
    }
}
    .sec-apresentacao{
        flex-direction: column;

        figure{
            width: 60vw;
        }
    }

    .sec-sobre{
        flex-direction: column;
        margin-top: 20px;

        .div-sobre{
            width: 80%;
            text-align: center;

            p, h2{
                text-align: justify;
            }
          
        }
        .img-sobre{
            width: 45vw;
        }
    }

    .footer{
        gap: 20vw;
}
}