$brand-color: #00D2DF;
$dark-10: #121212;
$dark-20: #151515;
$dark-30: #C4C4C4;
$dark-40: #FFFFFF;

@mixin h1-size(){
    font-size:  1.5em; //24px
    font-weight: 600;        
};
@mixin h2-size(){
    font-size: 1.25em;//20px
    font-weight: 500;
};
@mixin h3-size(){
    font-size: 1.125em; //18px
    font-weight: 300;
};

@mixin flex-horizontal(){
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin flex($display,$justify-content, $align-items, $flex-direction){
    display: $display;
    justify-content: $justify-content;
    align-items: $align-items;
    flex-direction: $flex-direction;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
  
    nav{
        font-weight: 500;
        display: flex;
        justify-content: space-around;
        height: 10vh;
        align-items: center;
        ul{
            @include flex-horizontal();
            gap: 30px;
            list-style: none;
            li{
                a{
                    color: $dark-30;
                    text-decoration: none;
                }
                a:focus{
                    color: $brand-color;
                }
            }
      
        }
    }

    nav::after{
        content: "";
        width: 70%;
        height: 1px;
        background: rgb(18,18,18);
        background: linear-gradient(90deg, rgba(18,18,18,1) 0%, rgba(65,65,65,1) 53%, rgba(29,255,243,1) 100%); 
        position: absolute;
        top:10vh;
    }

    .btn-hamburg, .btn-hamburg-close{
        background-color: transparent;
        font-size: 2.3em;
        color: $dark-30;
        border: none;
        cursor: pointer;
        display: none;
}
}
.h2-header, .nome-apresentacao{
    color: $brand-color;
}

main{
    background-color: $dark-10;
    font-family: 'Inter', sans-serif;
}

.sec-apresentacao{
    @include flex-horizontal();
    justify-content: space-around;
    height: 100vh;

    .div-apresentacao{
        color: $dark-40;
        p, h2{
            font-size: 1.5em;
        }
        .nome-apresentacao{
            font-size: 2.6em;
            font-weight: 600;
        }
        .btn-apresentacao{
            display: flex;
            gap: 10px;
            margin-top: 10px;

        a{
            text-decoration: none;
            color: $dark-40;
            padding: 8px;
            border: 1px solid;
            border-image: linear-gradient(to right, $dark-10, $brand-color) 1;
        }
    }
}
        figure{
            width: 20vw;
            img{
                width: 100%;
                height: 100%;
            }
        }
}

.sec-sobre{
    @include flex-horizontal();
    height: 100vh;
    justify-content: space-around;
    color: $dark-30;
    

    .div-sobre{
        width: 40vw;
        display: flex;
        flex-direction: column;
        gap: 10px;
        
        h1{
           @include h1-size();
        }
        h2{
           @include h2-size();
        }
        p{
            @include h3-size();
        }

        span{
            color: $brand-color;
        }

        .btn-sobremim{
            display: flex;
            gap: 10px;
            margin-top: 10px;
            

        a{
            background-color: transparent;
            text-decoration: none;
            color: $dark-40;
            padding: 8px;
            border: 1px solid;
            border-image: linear-gradient(to right, $dark-10, $brand-color) 1;
        }
    }
    }

    .img-sobre{
        width: 25vw;
    
        img{
            width: 100%;
            border-left: 10px solid $brand-color;
        }
    }

    .social-sobre{
        @include flex-horizontal();
        width: 40vw;
        list-style-type: none;
        justify-content: flex-start;
        gap: 20px;

        a{
            font-size: 1.5em;
            text-decoration: none;
            color: $brand-color;
        }
    }
    
}
.sec-experiencia{
    @include flex-horizontal();
    height: 100vh;
    gap: 50px;

    h1{
        color: $dark-40;
    }
    ul{
        list-style: none;

        li{
           
            border-left: 1px solid $dark-20;
            button{
                background-color: transparent;
                border: none;
                color: $dark-40;
                font-size: 1em;
                width: 100%;
                height: 100%;
                text-align: left;
                cursor: pointer;
                padding: 8px;
            }
        }
        button:hover{
            border-left: 1px solid $dark-40;
            background-color: $dark-20;
            }
        button:focus{
                border-left: 1px solid $brand-color;
                background-color: $dark-20;
            }
    }
    aside{
   
        h1{
            @include h1-size();
            padding-bottom: 5vh;
        }
    }
    .conteiner-exp{

        width: 50vw;
        @include flex(flex, flex-start, flex-start, column);
        gap: 10px;

        p{
            color: $dark-30;
        }
        
        .titulos{
            @include flex-horizontal();
            justify-content: space-between;
            color: $dark-40;
            width: 100%;
            
            .principal{
                font-size: 1.5em;
                width: 40vw;
            }
            .periodo{
                font-size: 0.8em;
            }
        }
        
            span{
            color: $brand-color;
            }
    }
}
.sec-projetos{
    @include flex(flex, center, center,column);
    height:auto;
    h1{
        color: $dark-40;
        text-align: left;
        width: 70%;
        padding: 10px;
    }
    .conteiner-projetos{
        @include flex-horizontal();
        justify-content: center;
        gap: 10px;
        flex-wrap: wrap;
        width: 80%;
        height: 100%;
    }
}

.footer{
    @include flex-horizontal();
    gap: 60vw;
    font-family: Inter;
    font-weight: 400;
    height: 8vh;

    p{
        color: $dark-30;
    }

    span{
        color: $brand-color;
    }

}
.btn-desativo{
    display: none;
}

@media (max-width:800px){
    header{
        .ativo{
        display: flex;
    }
    .desativo{
        display: none;
    }
        nav{
            flex-wrap: wrap;
            width: 100vw;
            backdrop-filter: blur(30px);
            position: fixed;
        ul{
            backdrop-filter:blur(50px);
            width: 100%;
            padding: 20px;
            gap:10px;
            flex-wrap: wrap;
            text-align: center;

            li{
                width: 30%;
            }
        }
        .btn-hamburg{
            font-size: 2em;
        }
        .btn-hamburg-close{
            width: 100%;
            justify-content: center;
        }
    }

}
    .sec-apresentacao{
        flex-direction: column;
        width: 100%;
        
        .div-apresentacao{
            width: 80%;
            margin-top: 22vh;
        }
        figure{
            width: 45vw;
        }
    }

    .sec-sobre{
        flex-direction: column;
        height: 100%;

        .div-sobre{
            width: 80%;
            text-align: center;

            p{
                text-align: justify;
            }
            .social-sobre, .btn-sobremim{
                justify-content: center;
                width: 100%;
            }
          
        }
        .img-sobre{
            width: 45vw;
            margin-top: 22vh;
        }
    }
    .sec-experiencia{
        flex-direction: column;
        height: 100vh;

    .conteiner-exp{
        width: 80%;
        .titulos{
            flex-direction: column;
            gap: 5px;

            .principal, p{
                width: 100%;
                text-align: center;
            }
    
        }
        .local{
            text-align: center;
            width: 100%;
        }
        .descricao{
            width: 100%;
            text-align: justify;
        }
    }
    }

    .sec-projetos{
        @include flex(flex, center, center,column);
        padding-top: 20vh;
        h1{
            color: $dark-40;
            text-align: left;
            width: 70%;
            padding: 10px;
        }
        .conteiner-projetos{
            @include flex-horizontal();
            gap: 10px;
            flex-wrap: wrap;      
            div{
                width: 100%;
                height: 100%;
                
                figure{
                    width: 360px;
                }
            }
        }
    }
    .footer{
        gap: 20vw;
}

.btn-desativo{
    display: none;
}
}